* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* font-style: oblique; */
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #18392F;
    filter: opacity(100);
    position: fixed;
    z-index: 5;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation-name: nav;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes nav {
    0% {
        background-color: #18392F;
    }

    20% {
        background-color: #1F473B;
    }
}

.logo {
    width: 100px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    scroll-behavior: smooth;
}

.menu-list a {
    padding: 2em;
    text-decoration: none;
    color: #EEF6F4;
}
.fa-solid{
    visibility: hidden;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.image {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero h1 {
    font-size: 50px;
    margin: auto;
    padding: 80px;
    visibility: visible;
}

.hero span {
    font-size: 30px;
    margin: auto;
    padding: 80px;
}

.hero {
    background-color: #18392F;
    color: #EEF6F4;
}

.section1 h1 {

    display: flex;
    align-items: center;
    justify-content: center;

}

/* .section1 p{
    font-size: 70px;
    font-weight: 700;
} */
.section1 {
    background-color: #1F473B;
    height: 700px;
    color: White;
    position: relative;
}

.section1 span {
    font-size: 20px;
}


.menu-list :hover a {
    color: #75D7B9;
}

.hero {
    /* background-image: url(../IMAGES/port-back.jpeg) ; */
    background-size: cover;
    height: 100vh;
    /* opacity: 0.6; */
}

.hero h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.pic {

    height: 400px;
    margin-top: 90px;

}

.section1 span {
    width: 100px;
    margin: 40px auto;
    text-align: center;
}

/* .section2 {
    font-size: 70px;
} */
.section2 strong {
    font-size: 30px;
}

.pic2 {
    width: 200px;
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    background-color: #18392F;
    height: 500px;
    color: #EEF6F4;
}

.section2.resume h1 {
    display: flex;
    align-items: center;
    justify-items: center;
}

.fa-solid {
    visibility: hidden;
    color: #EEF6F4;
    font-size: 20px;
}


@media (max-width: 800px) {
    .menu-list {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .fa-solid {
        visibility: visible;
        position: absolute;
        left: 300px;
    }

    .section1 {
        height: 900px;
    }

    /* .header {
        width: 400px;
    } */
}

@media (max-width:900px) {
    .section1 {
        height: 900px;
    }

    .pic {
        visibility: hidden;
    }

    .pic2 {
        visibility: hidden;
    }



}

@media (max-width: 400px) {
    .section1 {
        height: 1100px;
    }
}

.section3 {
    background-color: #1F473B;
    height: 600px;
    color: #EEF6F4;
    position: relative;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weban {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.responsive {
    position: absolute;
    left: 150px;
}

.me {
    position: absolute;
    left: 300px;
    top: 200px;
    border: 2px solid#75D7B9;
    background-color: #0a4e3a;
    border-radius: 10px;
    border: none;
    padding: 1.5em;
}

.section4 {
    background-color: #18392F;
    height: 800px;
    position: relative;

}

.html {
    width: 60px;
    position: relative;
}

.css {
    width: 60px;

}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.javascript {
    width: 60px;
    position: relative;
}

.html-txt {
    position: absolute;
    left: 430px;
    font-size: 30px;
    color: #EEF6F4;
}

.css-txt {
    position: absolute;
    left: 720px;
    font-size: 30px;
    color: #EEF6F4;
}

.javascript-txt {
    position: absolute;
    left: 970px;
    font-size: 30px;
    color: #EEF6F4;
}

.section4 h1 {
    font-size: 50px;
    color: #EEF6F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    .me {
        left: 20px;
        font-size: 10px;
    }
     .nav{
        justify-content: space-around;
    }

}
@media(max-width:770px){
    .nav{
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .section3 {
        height: 800px;
        flex-wrap: wrap;
    }
}

@media(max-width: 900px) {
    .weban {
        flex-direction: column;
    }

    .html-txt {
        left: 75px;
        font-size: 20px;
    }
     .nav{
        justify-content: space-around;
    }

    .css-txt {
        left: 175px;
        font-size: 20px
    }

    .javascript-txt {
        left: 255px;
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    .responsive {
        left: 215px;
        top: 510px;
    }

    .section3 {
        height: 800px;
    }

    .html-txt {
        left: 230px;
    }

    .css-txt {
        left: 425px;
    }

    .javascript-txt {
        left: 580px;
    }

    .fa-solid {
        left: 700px;
    }
}

@media(max-width: 425px) {
    .fa-solid {
        left: 600px;
        visibility: visible;
    }
     .nav{
        justify-content: space-around;
    }

    /* .hero {
        width: 700px;
    } */

    /* .section1 {
        width: 700px;
    } */

    /* .section2 {
        width: 700px;
    } */

    /* .section3 {
        width: 700px;
    } */

    /* .section4 {
        width: 700px;
    } */
     .hero h1{
        font-size: 30px;
     }
     .me span{
        font-size: 15px;
     }
     .me{
        left: 2px;
        padding: none;
     }
     .section3 {
        height: 800px;

     }
     .responsive{
        left: 28px;
        top: 432px;
        font-size: 12px;
     }
     .weban{
        font-size: 12px;
     }
     .html-txt{
        display: none;
     }
     .css-txt{
        visibility: hidden;
     }
     .javascript-txt{
        display: none;
     }
     .section4{
        height: 400px;
     }
     .message{
        left: 100px;
     }
}

.experience {
    border: 2px solid black;
    padding: 10px;
    background-color: #0A4E3A;
    border: none;
    border-radius: 5px;
}

.web-design {
    border: 2px solid black;
    padding: 10px;
    background-color: #0A4E3A;
    border: none;
    border-radius: 5px;
}

.responsive {
    border: 2px solid black;
padding: 10px;
    background-color: #0A4E3A;
    border: none;
    border-radius: 5px;

}

.section5 {
    background-color: #1F473B;
    height: 500px;
}

.message {
    /* border: 2px solid black; */
    position: absolute;
    left: 400px;
    /* padding: 80px; */
    /* margin: auto; */
    padding: 30px;
    background-color: #18392F;

}

.talk {
    padding: 30px 30px;
    border: none;
    background-color: #1F473B;


}

.email {
    /* padding: 10px; */
    border: none;
    padding: 15px 15px;
    background-color: #1F473B;
}

.name {
    /* padding: 10px; */
    border: none;
    padding: 15px 15px;
    background-color: #1F473B;
}
@media(max-width: 320px){
    .html-txt{
        left: 215px;
    }
    .css-txt{
        left: 390px;
    }
    .javascript-txt{
        left: 520px;
    }
}
.section5 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEF6F4;
}
@media(max-width:415px){
    .message{
        left: 2px;
    
    padding: 40px ;
    }
    .section5 h1{
        font-size: 20px;
    }
    
    .name{
        margin-bottom: 10px;
    }
}
@media(max-width: 415px){
    .responsive{
        left: 130px;
        top: 440px;
    }
}
@media(max-width: 361px){
    .responsive{
        left: 45px;
    }
}
@media(max-width: 1114px){
    .fa-solid{visibility: visible;}
}
@media(max-width: 390px){
     .nav{
        justify-content: space-around;
    }
    .fa-solid{
        visibility: visible;
    }
}