*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #62678a;
}
.container-fluid img{
    height: 80px;
}
.card-img-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    
}
.card-title {
    font-size: 1em;
}
.card-text{
    font-size: 1em;
}
.card img{
    height: 800px;
}
.sec1{
    background-color: #191E32;
    color: white;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1{
    display: flex;
    justify-content: space-around;
    height: 400px;
    background-color: #191E32;
    color: white;
}
.section1 strong{
    font-size: 2em;
}
.sec2{
    background-color: #2c2f3e;
    height: 800px;
}
.card{
    display: flex;
    justify-content: center;
}
.sec3{
    background-color: #191E32;
    height: 600px;
    
}
.sec3 form{
    border: 2px solid black;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    background-color: #2C2F3E;
    color: white;
}
.sec3 h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

